# Port server Express
PORT=5000

# Konfigurasi Cloudflare D1 REST API
CF_ACCOUNT_ID=your_cloudflare_account_id_here
CF_DATABASE_ID=your_cloudflare_d1_database_uuid_here
CF_API_TOKEN=your_cloudflare_api_token_here

# Rahasia JWT
JWT_SECRET=rahasia_super_aman_tka_sd_2026

# URL Frontend untuk CORS
FRONTEND_URL=http://localhost:5173
